body {
background-color: lightgrey;
color: black;

} 

h4 {
  color: olivedrab;
  font-family: 'Cedarville Cursive';font-size: 22px;

}
body ul {color: black;

  h3 {

    font-family: 'Chau Philomene One';font-size: 22px;
  }

}

img{
  width: 250px;
  
}

a {
    color: darkred
       
}
a {
  text-decoration: none;
  }

  a
  { font-style: italic;

  }  
