body {
background-color: lightgrey;
color: black;

} 

h4 {
  color: olivedrab;

}
body ul {color: black;

}

img{
  width: 200px;
}

a {
    color: black 

       
}
a {
  text-decoration: none;
  }

  a
  { font-weight: bold;

  }  
