body {
  font-family: 'Josefin Sans', sans-serif;
}
article
{ background-color: #bab2b5; }
.card {
  height: 100%;
}
footer {
  display: block;
  background-color: white;
 }
p {
  font-size: 18px;
  color: white;
}
