body {

  font-family: 'Raleway', sans-serif;
}

#division01 {
  background-color: olive;
  padding-left: 20px
    
}

#division02 {
  background-color: pink;
  padding-left: 20px
}

#division03 {
  background-color: olive;
  padding-left: 20px
}